<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oddfar.campus.business.mapper.ActivityMapper">

    <!-- 获取所有活动的列表 -->
    <select id="selectList" resultType="com.oddfar.campus.business.domain.entity.ActivityEntity">
        SELECT * FROM activity
    </select>

    <!-- 查询活动列表及其详细信息，包括参与者和创建者 -->
    <select id="selectActivityList" resultMap="activityResultMap">
        SELECT
            a.id AS id,
            a.name AS name,
            a.description AS description,
            a.start_time AS startTime,
            a.end_time AS endTime,
            a.location AS location,
            a.create_time AS createTime,
            a.update_time AS updateTime,
            a.status AS status,
            a.creator_id AS creatorId,
            a.user_list AS userList,
            u.user_name AS creatorName,
            u.avatar AS creatorAvatar
        FROM activity a
                 LEFT JOIN sys_user u ON a.creator_id = u.user_id
    </select>

    <!-- 查询参与者信息 -->
    <select id="selectUsersByIds" parameterType="java.util.List" resultType="com.oddfar.campus.business.domain.entity.UserEntity">
        SELECT user_id, user_name, nick_name, avatar
        FROM sys_user
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <resultMap id="activityResultMap" type="com.oddfar.campus.business.domain.vo.ActivityVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="location" column="location"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="status" column="status"/>
        <result property="creatorId" column="creatorId"/>
        <result property="creatorName" column="creatorName"/>
        <result property="creatorAvatar" column="creatorAvatar"/>
        <result property="userList" column="userList"/>
    </resultMap>

    <!-- 根据ID查询活动 -->
    <select id="selectById" resultType="com.oddfar.campus.business.domain.entity.ActivityEntity">
        SELECT * FROM activity WHERE id = #{activityId}
    </select>

    <!-- 查询活动的 user_list -->
    <select id="getUserListByActivityId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT user_list
        FROM activity
        WHERE id = #{activityId}
    </select>

    <!-- 更新活动的 user_list -->
    <update id="updateUserList" parameterType="map">
        UPDATE activity
        SET user_list = #{userList}
        WHERE id = #{activityId}
    </update>


    <!-- 更新活动 -->
    <update id="updateById">
        UPDATE activity
        <set>
            <if test="activity.name != null">
                name = #{activity.name},
            </if>
            <if test="activity.description != null">
                description = #{activity.description},
            </if>
            <if test="activity.startTime != null">
                start_time = #{activity.startTime},
            </if>
            <if test="activity.endTime != null">
                end_time = #{activity.endTime},
            </if>
            <if test="activity.location != null">
                location = #{activity.location},
            </if>
            <if test="activity.createTime != null">
                create_time = #{activity.createTime},
            </if>
            <if test="activity.updateTime != null">
                update_time = #{activity.updateTime},
            </if>
            <if test="activity.status != null">
                status = #{activity.status},
            </if>
            <!-- 添加其他字段 -->
        </set>
        WHERE id = #{activity.id}
    </update>

    <!-- 删除活动 -->
    <delete id="deleteById">
        DELETE FROM activity WHERE id = #{activityId}
    </delete>

    <!-- 获取活动的创建人 ID -->
    <select id="getCreatorId" resultType="java.lang.Long">
        SELECT creator_id
        FROM activity
        WHERE id = #{activityId}
    </select>

    <!-- 设置活动的创建人 ID -->
    <update id="setCreatorId">
        UPDATE activity
        SET creator_id = #{creatorId}
        WHERE id = #{activityId}
    </update>

<!--    <insert id="insert" parameterType="com.oddfar.campus.business.domain.entity.ActivityEntity">-->
<!--        INSERT INTO activity (name,-->
<!--                              description,-->
<!--                              start_time,-->
<!--                              end_time,-->
<!--                              location,-->
<!--                              create_time,-->
<!--                              update_time,-->
<!--                              status,-->
<!--                              creator_id,-->
<!--                              user_list)-->
<!--        VALUES (#{activity.name},-->
<!--                #{activity.description},-->
<!--                #{activity.startTime},-->
<!--                #{activity.endTime},-->
<!--                #{activity.location},-->
<!--                #{activity.createTime},-->
<!--                #{activity.updateTime},-->
<!--                #{activity.status},-->
<!--                #{activity.creatorId},-->
<!--                #{activity.userList})-->
<!--    </insert>-->
    <insert id="insert" parameterType="com.oddfar.campus.business.domain.entity.ActivityEntity">
        INSERT INTO activity (name,
                              description,
                              start_time,
                              end_time,
                              location,
                              create_time,
                              update_time,
                              status,
                              creator_id,
                              user_list)
        VALUES (#{name},
                #{description},
                #{startTime},
                #{endTime},
                #{location},
                #{createTime},
                #{updateTime},
                #{status},
                #{creatorId},
                #{userList})
    </insert>

    <!-- 根据活动 ID 更新参与者列表 -->
    <update id="addParticipants" parameterType="map">
        UPDATE activity
        SET user_list = #{userList}
        WHERE id = #{activityId};
    </update>


    <!-- 其他方法... -->
</mapper>